{% extends 'base.html'%}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <br/>
    <form method="POST" style="display: flex;">
        <textarea name="post" id="post" class="form-control" style="width: 96%; min-height: 25px; margin-right:5px;"></textarea>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <h1>Posts</h1>
    <div class="container">
        {% for post in user.posts %}
            <div class="card" style="display: flex; flex-direction: row;">
                {{ post.date}}| {{ user.first_name }}
                <div class="card-body">
                    {{ post.data }}
                </div>
                
                <div style="padding: 5px;">
                    <a href="/delete/{{ post.id }}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </a>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}